/*///////////////////////// GENERALES /////////////////////////*/

body {
  font-family: "Source Sans Pro", sans-serif;
}
section {
  overflow: hidden;
}
h1 {
  font-size: 64px;
  line-height: 1;
}

h2 {
  font-size: 60px;
  line-height: 1;
}

.yellow-titles {
  color: #ffc121;
}

.blue-titles {
  color: #0c2d48;
  font-weight: 700;
}

.red-titles {
  color: #c51718;
}

.buttons {
  border-radius: 35px;
  padding: 8px 35px 8px 25px;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.buttons:hover {
  padding: 8px 25px 8px 25px;
}

.red-buttons {
  border: 2px solid #c51718;
  color: #c51718;
}

.red-buttons:hover {
  background-color: #c51718;
  border: 2px solid #c51718;
}

.red-buttons:focus,
.red-buttons:active {
  background-color: #005296 !important;
  box-shadow: none !important;
  border: 2px solid #005296 !important;
}

.red-buttons:hover::after {
  background-color: white;
  margin-left: 42px;
}

.red-buttons::after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #c51718;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 20px;
  margin-left: 22px;
  transition: ease-in-out 0.2s;
}
.white-buttons {
  border: 2px solid #fff;
  color: #fff;
}

.white-buttons:hover {
  background-color: #ffc121;
  border: 2px solid #ffc121;
}

.white-buttons:focus,
.white-buttons:active {
  background-color: #c51718 !important;
  box-shadow: none !important;
  border: 2px solid #c51718 !important;
}

.white-buttons:hover::after {
  background-color: #005296;
  margin-left: 42px;
}

.white-buttons::after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 20px;
  margin-left: 22px;
  transition: ease-in-out 0.2s;
}

/* HEADER  */

.menu {
  background-color: #005296;
  -webkit-transition: background 0.3s 0s linear;
  -moz-transition: background 0.3s 0s linear;
  -o-transition: background 0.3s 0s linear;
  transition: background 0.3s 0s linear;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}

.header-logo {
  width: 75%;
}

.navbar {
  z-index: 5;
  width: 100%;
  padding: 0.8rem 0rem;
}

.nav-link {
  font-size: 20px;
  font-weight: 600;
  color: white !important;
  margin-right: 1rem !important;
  margin-left: 1rem !important;
  padding-bottom: 0px;
  position: relative;
  transition: linear 0.2s;
}

.blue-links {
  color: #005296 !important;
}

.navbar-light .navbar-nav .active > .nav-link::after {
  content: "";
  background-color: #ffc121;
  width: 88px;
  height: 8px;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  z-index: -5;
  margin-bottom: 3px;
}

.nav-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* animación de burguer menu */

.custom-hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #ffc121;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.custom-hamburger:hover {
  cursor: pointer;
}

#custom-hamburger.is-active {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#custom-hamburger.is-active .line:nth-child(2) {
  width: 0px;
}

#custom-hamburger.is-active .line:nth-child(1),
#custom-hamburger.is-active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#custom-hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#custom-hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-5px) rotate(90deg);
  -ms-transform: translateY(-5px) rotate(90deg);
  -o-transform: translateY(-5px) rotate(90deg);
  transform: translateY(-5px) rotate(90deg);
}

/* MAIN */

.main-section {
  background-image: url(../images/white-line-deco.png),
    url(../images/white-deco.png), url(../images/yeloow-deco.png),
    url(../images/main-bg.png);
  background-position: right bottom, right bottom, left center, center bottom;
  background-size: auto, auto, auto, auto;
  background-repeat: no-repeat, no-repeat;
  min-height: 80vh;
  color: white;
  padding: 150px 0px 120px 0px;
}

.discapacidad-span {
  background-image: url(../images/red-line.png);
  background-position: center bottom;
  background-position-y: 1.5cm;
  background-size: auto;
  background-repeat: no-repeat;
}

.big-photos {
  transition: ease-in-out 0.2s;
}

.big-photos:hover {
  transform: rotate(5deg);
}

.big-photos-negative {
  transition: ease-in-out 0.2s;
}

.big-photos-negative:hover {
  transform: rotate(-5deg);
}

/* NUESTRA HISTORIA */

.nuestra-historia {
  padding: 100px 0px;
  color: #005296;
}

.nuestra-historia p {
  font-size: 18px;
}

.top-titles {
  margin-left: 55px;
  color: #0c2d48;
}

.top-titles::before {
  content: "";
  width: 45px;
  height: 2px;
  background-color: #f11826;
  position: absolute;
  margin-top: 12px;
  margin-left: -55px;
}

/* MISION, VISION, VALORES */

.mision-vision {
  background-image: url(../images/small-left-yellow-deco.png),
    url(../images/small-right-yellow-deco.png), url(../images/mision-bg.png);
  background-position: left top, right bottom, center center;
  background-size: auto, auto, contain;
  background-repeat: no-repeat;
  padding: 140px 0px;
  width: 100%;
  color: white;
}

.mision-vision h3 {
  font-weight: 700;
  font-size: 36px;
}

.mision-vision-icons {
  transition: ease-in-out 0.2s;
}
.mision-vision-icons:hover {
  transform: scale(1.2);
}

/* SERVICIOS */

.servicios {
  color: #0c2d48;
}

.servicios h5 {
  font-weight: 700;
  font-size: 24px;
}

.service-container {
  min-height: 266px;
  display: flex;
  align-items: center;
}

.bg-absolute {
  position: absolute;
  width: 70%;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: -5;
  margin: 0 auto;
}

.bg-absolute:hover {
  transform: rotate(45);
}

.services-icons {
  transition: ease-in-out 0.3s;
}

.services-icons:hover {
  transform: scale(1.2);
}

/* PROYECTOS */

.proyectos {
  background-image: url(../images/potenciamos-bg.png);
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 140px 0px 20px 0px;
  width: 100%;
  color: #0c2d48;
  position: relative;
}

.top-titles-blue::before {
  content: "";
  width: 45px;
  height: 2px;
  background-color: #0c2d48;
  position: absolute;
  margin-top: 12px;
  margin-left: -55px;
}

.proyectos-img-container {
  border-radius: 25px !important;
  height: 270px;
  overflow: hidden;
  position: relative;
}
.proyectos-img-container img {
  width: -webkit-fill-available;
}

.proyecto-title {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 22px;
  font-weight: 700;
  background: linear-gradient(4deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 0) 75%);
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.proyectos-img-container {
  transition: ease-in-out 0.2s;
}
.proyectos-img-container:hover {
  transform: scale(1.1);
}

/* CONTACTO */

.contacto {
  padding: 20px 0px;
  color: #0c2d48;
}

.form-control {
  border-radius: 26px;
  border: 1px solid #e5edf4;
  color: #0c2d48 !important;
  transition: 0.3s;
}

.form-control:focus {
  border-radius: 26px;
  border: 1px solid #c51718;
  background-color: #ffc121 !important;
  box-shadow: none;
}

::-webkit-input-placeholder {
  color: #0c2d48 !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #0c2d48 !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #0c2d48 !important;
}

:-ms-input-placeholder {
  color: #0c2d48 !important;
}

/* FOOTER */

footer {
  background-image: url(../images/footer-bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  padding: 200px 0px 120px 0px;
  color: white;
  min-height: 450px;
  position: relative;
}

footer h6:after {
  position: absolute;
  margin: 0 auto;
  margin-top: 30px;
  top: 0;
  left: 0px;
  right: 0;
  width: 50px;
  height: 2px;
  background-color: #ffc121;
  content: "";
  opacity: 1;
}

.footer-logo {
  width: 55%;
}

.contact-footer {
  display: grid;
}

.contact-footer a {
  color: white;
  transition: ease-in-out 0.2s;
}

.contact-footer a:hover {
  transform: scale(1.2);
  color: #ffc121;
}

.contact-footer a:hover {
  text-decoration: none;
}

.social-icons {
  font-size: 22px;
  transition: ease-in-out 0.2s;
}

.copyright {
  background-color: #004a87;
  background-color: #004a87;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
}

/* RESPONSIVE */

@media (max-width: 1366px) {
  .main-section {
    background-image: url(../images/white-line-deco.png),
      url(../images/white-deco.png), url(../images/yeloow-deco.png),
      url(../images/main-bg.png);
    background-position: right bottom, right bottom, left bottom, center bottom;
    background-size: auto, auto, auto, auto;
    background-repeat: no-repeat, no-repeat;
    padding: 150px 0px 200px 0px;
  }
  .mision-vision {
    background-image: url(../images/small-left-yellow-deco.png),
      url(../images/small-right-yellow-deco.png), url(../images/mision-bg.png);
    background-position: left top, right bottom, center center;
    background-size: auto, auto, cover;
    background-repeat: no-repeat;
    width: 100%;
    color: white;
    padding: 100px 0px;
  }
}
@media (max-width: 1024px) {
  .main-section {
    background-image: url(../images/white-line-deco.png),
      url(../images/white-deco.png), url(../images/main-bg.png);
    background-position: right bottom, right bottom, center bottom;
    background-size: auto, auto, auto;
    background-repeat: no-repeat, no-repeat;
    padding: 150px 0px 200px 0px;
  }
  .proyectos {
    padding: 70px 0px 20px 0px;
  }
}
@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
  .nav-link {
    padding: 25px 0px;
  }
  .navbar-light .navbar-nav .active > .nav-link::after {
    content: "";
    background-color: #ffc121;
    width: 85px;
    height: 8px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: auto;
    margin: 0 auto;
    bottom: 0;
    z-index: -5;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 42px;
  }
  .responsive-center {
    align-items: center !important;
  }
  .discapacidad-span {
    background-position-y: 1cm;
    background-size: contain;
  }
  .main-section {
    padding: 150px 0px 280px 0px;
  }
  .nuestra-historia p {
    font-size: 16px;
  }
  .proyectos {
    padding: 35px 0px 20px 0px;
  }
  .proyectos-img-container {
    height: 220px;
  }
  .service-container {
    min-height: auto;
  }
}
@media (max-width: 525px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 30px;
  }

  .main-section {
    background-image: url(../images/white-line-deco.png),
      url(../images/white-deco.png), url(../images/main-bg.png);
    background-position: right bottom, right bottom, center center;
    background-size: auto, auto, auto;
    background-repeat: no-repeat, no-repeat;
    padding: 100px 0px 200px 0px;
  }
  .nuestra-historia {
    padding: 30px 0px;
  }
  .service-container {
    min-height: 140px;
    margin-bottom: 15px;
  }
  .services-icons {
    width: 75px;
  }
  .proyectos {
    background-size: auto;
    padding: 85px 0px 20px 0px;
  }

  footer {
    background-size: cover;
  }
}
@media (max-width: 375px) {
  .navbar-brand {
    width: 55%;
  }
  .header-logo {
    width: 100%;
  }
  .servicios h5 {
    font-size: 20px;
  }
  .service-container {
    min-height: 110px;
    margin-bottom: 15px;
  }
}
